[Unit]
Description=AI Gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/xh22sc/H27/gateway
ExecStart=/xh22sc/H27/gateway/ai-gateway-linux-amd64
Restart=always
RestartSec=10
KillSignal=SIGINT
User=root
Environment=AI_GATEWAY_CONFIG=/xh22sc/H27/gateway/ai-gateway.json
EnvironmentFile=/xh22sc/H27/gateway/ai-gateway.env

[Install]
WantedBy=multi-user.target